@mixin flexCenter($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

.nav-header {
    min-height: 10vh;
    background-color: $primary-color;
    

    nav {
        @include flexCenter(space-between);
        height: 100%;
        background-color:green;
    }
}

.landing {

    @include flexCenter(center);

    width: 100%;
    height: 90vh;
    flex-direction: column;
   

    h1{
        color: $primary-color
    }

}


